* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.box {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 440px;
    background-color: red;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.5s;
}

.box:hover {
    transform: translateY(-20px);
    border: 2px solid yellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid black;
    transition: all 1s;
    cursor: grab;
}

.box img:hover {
    transform: translateX(-50%) rotate(360deg);
}

.left,
.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    text-align: center;
    font-size: 18px;
    color: yellow;
    font-weight: bold;
    line-height: 1.5;
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}


.naicha {
    position: absolute;
    bottom: -80px;
    width: 100%;
    height: 80px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.box:hover .naicha {
    transform: translateY(-80px);
}

.giveme {
    background-color: #006efa;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.giveme:hover {
    background-color: #ee5a52;
    transform: scale(1.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}