* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.box {
    display: flex;
    gap: 20px;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.box1, .box2, .box3, .box4 {
    width: 320px;
    border-radius: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.box1 {
    background-color: skyblue;
    height: 600px;
    flex-shrink: 0; 
    flex-grow: 0; 
}

.box2 {
    background-color: green;
    height: 300px;
    flex-shrink: 1;
    flex-grow: 1; 
    align-self: center; 
}

.box3 {
    background-color: yellow;
    height: 200px;
    align-self: flex-start; 
    flex-shrink: 1;
    
}

.box4 {
    background-color: red;
    height: 600px;
    flex-shrink: 2; 
    flex-grow: 0;

}

p {
    margin-top: 20px;
    font-size: 14px;
    color: black;
}

@media (max-width: 1360px) {
    .container {
        height: auto;
    }
}