* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 50%;
    height: 100px;
}

.underline {
    font-size: 16px;
    color: #333;
    line-height: 16px;
    background: linear-gradient(90deg, red, yellow, blue)right bottom no-repeat;
    background-size: 0% 3px;
    background-position: 0 100%;
    transition: background-size 1s ;
    cursor: pointer;
}

.underline:hover {
    background-size: 100% 3px;
     background-position: left bottom;
}
