@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1762223428100') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\3448";
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-xinlangweibo:before {
  content: "\e67c";
}

.icon-wangyiyunyinle:before {
  content: "\ea4b";
}

.icon-mima:before {
  content: "\e850";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-mail163:before {
  content: "\e6b2";
}

