a{
    text-decoration: none;
  }
.box p {
    color: red;
  }
  .box {
      width: 500px;
      padding: 10px;
      border: 1px solid black;
  }

.box div {
      width: 180px;
      height: 50px;
      background-color: grey;
      transition: all .3s;
}
.box div:hover{
    background-color: yellow;
    font-size: 14px;
}
ul li:first-child{
    font-size: 20px;
}
ul li:nth-child(2){
    font-size: 30px;
}
ul li:nth-child(3){
    font-size: 40px;
}