div{
    background-image:url(./png/20191223125735688.jpg) ;
    background-repeat: no-repeat;
    width: 1668px;
    height: 1000px;
    background-position: center center;
}
p{
    color: red;
}                                           